<!--<div ng-include="'views/common/templates/header.view.client.html'"></div>-->

<div class="container-fluid">
    <div class="col-sm-5">
        <h1> WELCOME TO #CREATOR</h1>

        <h3> A place where you can explore and create musical playlists of all genres</h3>
        <a class="btn btn-block btn-default"
           href="#!/login">LOGIN</a>
        <a class="btn btn-block btn-default"
           href="#!/register">REGISTER</a>
        <a class="btn btn-block btn-default"
           href="#!/create">CREATE</a>
    </div>




</div>