<!--<div ng-include="'views/common/templates/header.view.client.html'"></div>-->

<div class="container-fluid">
    <div class="col-xs-5">
        <h1> WELCOME TO #CREATOR</h1>

        <h3> A place where you can explore and create musical playlists of all genres</h3>
        <a class="btn btn-block btn-default"
           href="#!/login">LOGIN</a>
        <a class="btn btn-block btn-default">REGISTER</a>
        <a class="btn btn-block btn-default">CREATE</a>
    </div>

    <div class="col-xs-7">

    </div>
</div>