<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="container-fluid">
    <div class="col-md-4 hidden-sm hidden-xs">
        <div ng-include="'views/playlist/templates/playlist-list.view.client.html'"></div>
    </div>
    <div class="col-md-8">
        <h1>{{model.playlist.name}}</h1>
        <a ng-click="model.followPlaylist()"
           class="btn btn-success"
           ng-if="model.showFollow">Follow Playlist</a>
        <a ng-click="model.unfollowPlaylist()"
           class="btn btn-danger"
           ng-if="!model.showFollow">Unfollow Playlist</a>
        <h3>
            <a href="#!/user/{{model.user}}">
                Created by {{model.user}}
            </a>
            <span class="glyphicon glyphicon-lock pull-right"
                  ng-show="!model.playlist.public"></span>
            <a href="#!/playlist/edit/{{model.playlistId}}">
                <span ng-if="model.showEdit"
                      class="glyphicon glyphicon-pencil"></span>
            </a>
        </h3>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="song in model.playlist._songs">
                <a ng-click="model.goToArtist(song)"><em>{{song.track}}</em> by {{song.artist}}</a> <!-- song.name for when you get mongo.populate to work -->
            </li>
        </ul>
    </div>
</div>