<ul class="list-group">
    <li class="vs-active list-group-item">Playlists (Only Visible To You)</li>
    <li ng-repeat="playlist in model.playlists"
        class="list-group-item"><span class="glyphicon glyphicon-lock pull-right" ng-show="!playlist.public"></span><a href="#!/playlist/{{playlist._id}}">{{playlist.name}}</a></li>
</ul>

<ul class="list-group">
    <li class="vs-active list-group-item">Playlists You're Following</li>
    <li ng-repeat="playlist in model.followPlaylists"
        class="list-group-item">
        <a href="#!/playlist/{{playlist._id}}">{{playlist.name}}</a>
    </li>
</ul>