<div ng-include="'views/common/templates/header.view.client.html'"></div>

<div class="container-fluid row">
    <div class="col-md-4 hidden-xs hidden-sm">
        <div ng-include="'views/playlist/templates/playlist-list.view.client.html'"></div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-4">
                <img style="margin-top: 10px" src="http://lorempixel.com/250/350/" alt="" style="float:left">
            </div>
            <div class="col-xs-8">
                <h1>{{model.album.name}}</h1>
                <h2>{{model.album._artist}}</h2>
                <p>Release Date</p>
                <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-heart pull-right"></span> Favorite </a>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="song in model.album.songs">{{song}}</li>
        </ul>
    </div>


    <!--insert other albums like how the flickr thing looks like-->
</div>