<div ng-include="'views/common/templates/header.view.client.html'"></div>

<div class="container-fluid">
    <label for="search" class="h1">Search</label>
    <div class="input-group">
        <input type="text"
               id="search"
               ng-model="searchTerm"
               class="form-control"
               placeholder="e.g. Meghan Trainor">
        <span class="input-group-btn">
            <button class="btn btn-default"
                    type="button"
                    ng-click="model.search(searchTerm)">Search</button>
        </span>
    </div>
    <p>Note: For users, and playlists, the search term must be exact. </p>
    <div class="row">

        <div class="col-sm-6">
            <ul class="list-group">
                <li class="vs-active list-group-item">Songs</li>
                <li class="list-group-item"
                    ng-repeat="song in model.songs">

                    <em>{{song.name}} </em> by <a ng-click="model.getLink('artist',song.artist)">{{song.artist}}</a>
                </li>
            </ul>

            <ul class="list-group">
                <li class="vs-active list-group-item">Artists</li>
                <li class="list-group-item"
                    ng-repeat="artist in model.artists">
                    <a ng-click="model.getLink('artist', artist.name)">
                        {{artist.name}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item vs-active">Albums</li>
                <li class="list-group-item"
                    ng-repeat="album in model.albums">
                    <a ng-click="model.getLink('album', album.name)">
                        <em>{{album.name}}</em> by {{album.artist}}
                    </a>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item vs-active">Playlists</li>
                <li class="list-group-item"
                    ng-repeat="playlist in model.playlists">
                    <a href="#!/playlist/{{playlist._id}}">
                        {{playlist.name}}
                    </a>
                </li>
            </ul>
        </div>


    </div>
    <ul class="list-group">
        <li class="list-group-item vs-active">Users</li>
        <li class="list-group-item"
            ng-repeat="user in model.users">
            <a href="#!/user/{{user.username}}">
                {{user.username}}, {{user.firstname}} {{user.lastname}}
            </a>
        </li>
    </ul>



</div>