<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">

        <a href="#!/">
            <span class="navbar-text pull-left glyphicon glyphicon-home"></span>
        </a>

        <a class="navbar-brand"
           href="#!/login"
           ng-if="!model.currentUser._id">Login</a>

        <a class="navbar-brand"
           href="#!/register"
           ng-if="!model.currentUser._id">Register</a>

        <a class="navbar-brand"
           href="#!/profile"
           ng-if="model.currentUser._id">Profile</a>

        <a class="navbar-brand"
           href="#!/generate">Generate a Playlist</a>

        <a class="navbar-brand"
           href="#!/create">Create a Playlist</a>

        <a class="navbar-brand"
           href="#!/admin"
           ng-if="model.currentUser.roles.indexOf('ADMIN') > -1">Admin</a>

        <a class="navbar-brand"
           ng-click="model.logout()"
           ng-if="model.currentUser._id">Logout</a>
    </div>
</nav>
