<div class="container-fluid">
    <h1>Login</h1>
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password">
    <a on-click="" class="btn btn-block btn-success">Login</a>
    <a href="#" class="btn btn-block btn-primary">Register</a>
    <a href="#" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>

</div>