<div ng-include="'views/common/templates/header.view.client.html'"></div>

<div class="container-fluid">

    <div class="col-sm-3 hidden-xs">
        <div ng-include="'views/playlist/templates/playlist-list.view.client.html'"></div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-7">
                <h1>{{model.user.firstname}} {{model.user.lastname}}</h1>
                <h2>{{model.user.username}}</h2>

                <a class="btn btn-danger"
                   ng-if="model.showEid"
                   href="#!/profile/{{model.user.username}}">Edit Profile
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                </a>
                <a ng-click="model.followUser()"
                   ng-if="model.showFollow"
                   class="btn btn-sm btn-success">
                    Follow
                    <span class="glyphicon glyphicon-plus pull-left"></span>
                </a>
                <a ng-click="model.unfollowUser()"
                   ng-if="model.showUnfollow"
                   class="btn btn-sm btn-danger">
                    Unfollow
                    <span class="glyphicon glyphicon-minus pull-left"></span>
                </a>

                <h4>Following {{model.following}}</h4>
                <h4>Followed by {{model.followers}}</h4>
            </div>

        </div>






        <ul class="list-group">
            <li class="vs-active list-group-item">Public Playlists</li>
            <li class="list-group-item" ng-repeat="playlist in model.publicPlaylists">
                <a href="#!/playlist/{{playlist._id}}">{{playlist.name}}</a></li>
        </ul>
    </div>



</div>